* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-size: 10px;
}

div {
  background-color: #dadada;
  width: 50%;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /* white-space: nowrap; */
}

img {
  object-fit: cover;
  width: 100%;
  page-break-inside: avoid;  
}

.preview {
  display: inline-block;
  width: 100%;

  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

h1 {
  text-align: center;
  padding: 15px;
  font-size: 2em;
  font-family: sans-serif;
  color: #000;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

div > h1 {
  font-family: serif;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: normal;
  color: #000;
}

/* this is for tablets */
@media screen and (min-width: 575px) {
  .preview{
    width: 49%;
  }
}

/* this is for laptops */
@media screen and (min-width: 991px) {
  .preview{
    float: left;
    width: 25%;
  }
}
